body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}
#logo_LeDessin {
    height: 12vh;
}

/* VIDEO */
#meu_video {
  object-fit: cover;
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 80px;
}

/*HEADER*/
.header {
  color: #f76539;
  border-bottom: 3px solid #f76539;
  position: relative;
}

.container {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style: none;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.agora {
  font-weight: 600;
}

/* Banner */

.banner-login {
  color: white;
  height: 550px;
  /* border: 3px solid yellow; */
  /*background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;*/
}

.banner-login .container {
  height: 550px;
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-login {
  color: #fc0004;
}

.banner-login .card {
  background-color: #0000008f;
  height: 450px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: outset #f7653986 7px;
  border-radius: 50px;
}

.banner-login a {
  color: white;
  text-decoration: none;
}

.banner-login #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

input {
  height: 30px;
  border: 2px solid #fc0004;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.btn {
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #fc0004;
  width: 120px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
}

.loading-div {
  width: 50px;
  /* border: 3px solid pink; */
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
/* Footer */

.footer {
  background-color: #e8383b;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer .container {
  justify-content: center;
}

h4 {
  margin: 0;
  padding: 0;
}
