body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;

}
#logo_LeDessin {
    height: 12vh;
}

.header {
    color: #F76539;
    border-bottom: 3px solid #F76539;
}

.container{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
}

.navbar a{
    color: #FFF;
    text-decoration: none;
}

.agora{
    font-weight: 600;
}
/* Slider */
#slider {
    width: 100%;
    max-width: 1400px;
    height: 500vw;
    max-height: 500px;

    position: relative;
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

/* Banner */
/*
.banner {
    height: 500px;
    color: #FFF;
    background-size: 1500px 540px;
    background-image: url("https://i.pinimg.com/originals/bd/7b/15/bd7b152a9d7b87069a04e1543cda148f.jpg");
}
*/
/*
.banner .container{
    height: 500px;
     
    align-items: center;
}
*/
/*
.banner p {
    width: 10px;
    margin: 0;
    padding: 0;
    font-size: 36px;
    margin-left: 350px;
}

.banner span {
    font-weight: 800;
}
*/
/* Imagens dos seguidores */
.imgs_seguidores {
    /*background-color: blue;*/
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_1 {
    /*background-color: blueviolet;*/
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border: #F76539 outset 2px;
    border-radius: 20px;
}

.img_1 img {
    width: 150px;
    height: 150px;
    margin-left: 75px;
}

.img_2 {
    /*background-color: crimson;*/
    width: 300px;
    height: 300px;
    border: #F76539 outset 2px;
    border-radius: 20px;
}

.img_2 img {
    width: 200px;
    height: 150px;
    margin-left: 50px;
}

.img_3 {
    /*background-color: fuchsia;*/
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border: #F76539 outset 2px;
    border-radius: 20px;
}

.img_3 img {
    width: 150px;
    height: 150px;
    margin-left: 75px;
}

/* Like e Comentario */
.cor_com {
    display: flex;
    align-items: center;
    justify-content: center;
}

#coracao {
    width: 30px;
    height: 60px;
    margin-right: 150px;
    /*transform: rotate(-45deg);*/
    /*border-radius: 100px 100px 100px 0px;*/
}

#coracao img {
    width: 60px;
    height: 65px;
    margin-right: 200px;
}

#comentario {
    background-color: #FFF;
    border: #F76539 solid;
    width: 50px;
    height: 50px;
    border-radius: 100px 100px 100px 0px;
    margin-right: 70px;
}
span {
    margin-left: 50px;
    margin-bottom: 50px;
    color: #F76539;
}

/* Footer */

.footer {
    background-color: #E8383B;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
}

.footer .container {
    justify-content: center;
}

h4 {
    margin: 0;
    padding: 0;
}

/*
PALETA DE CORES
VERMELHOR ESCURO: #B32D2E;
VERMELHO: #E8383B;
AMARELO: #FFC629;
PRETO XOXO: #4D4933;
LARANJA BALA: #F76539;
*/